<%= form_with(model: comment, local: true)  do |f| %>

  <div class="field task-text ">
    <%= f.label :content, "#{current_user.first_name} dice:" %><br />
    <%= f.text_area :content, id: :comment_content, class:"form-control" %>
  </div>
  <div class="row mt-2">
    <div class="col-6 field">
      <span class="task-text"><i class="fas fa-camera f-5x"></i></span>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <%= f.submit "Publicar", class:"comment-btn" %>
    </div>
<% end %>