<h1>Listado de tareas</h1>

<%= render 'houses/search_form.html.erb' %>
<div>
  <%= link_to 'Nueva tarea', new_task_path %>
</div>
<table>
  <tr>
    <th><%= sort_link(@q, :name, "Nombre", default_order: :asc)%></th>
    <th>Descripción</th>
    <th>Categoria</th>
    <th>Fecha limite</th>
    <th>Fecha fin</th>
    <th>Fecha de aprobacion</th>
    <th>Asignado a</th>
    <th>Creado por</th>
    <th>Aprobado por</th>
  </tr>
  <% @tasks.each do |task|%>
    <tr>
    <td><%= task.name%></td>
    <td><%= task.description%></td>
    <td><%= task.category%></td>
    <td><%= task.limit_date%></td>
    <td><%= task.finished_date%></td>
    <td><%= task.approved_date%></td>
    <td><%= task.assignee%></td>
    <td><%= task.owner%></td>
    <td><%= task.reviewer%></td>
    <td><%= link_to 'Ver', task %></td>
    </tr>
  <% end %>
</table>
