<p>
  <strong>Nombre:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Fecha limite:</strong>
  <%= @task.limit_date %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @task.owner %>
</p>
<p>
  <strong>Asignado a:</strong>
  <%= @task.assignee.nil? ? 'Sin asignar' : @task.assignee %>
</p>

<div>
<h4>Comentarios</h4>
</div>
<div>
  <%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment|%>
  <div>
    <%= image_tag(comment.user.thumbnail_photo) %>
    <%= comment.user.first_name %>
    <hr/>
    <%= comment.content %>
    <hr/>
    <% (0...comment.images.count).each do |image| %>
    <%= image_tag(comment.comment_image_style(image)) %>
    <% end %>
    <hr/>
    <%= comment.created_at %>
    <hr/>
    <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro de eliminar el comentario?' } %>
    <% end %>
  </div>
</div>
  <%= paginate @comments %>

<% if @task.owner_id == current_user.id %>
  <%= link_to 'Editar', edit_task_path(@task) %> |
  <%= link_to 'Eliminar', @task, method: :delete, data: { confirm: 'Estás seguro de eliminar la tarea?' } %> |
<% end %>
<%= link_to 'Volver', tasks_path %>