<p>
  <strong>Nombre:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Fecha limite:</strong>
  <%= @task.limit_date %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @task.owner %>
</p>

<p>
  <strong>Asignado a:</strong>
  <%= @task.assignee %>
</p>
<% if @task.owner_id == current_user.id %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Eliminar', @task, method: :delete, data: { confirm: 'Estás seguro de eliminar la tarea?' } %> |
<% end %>
<%= link_to 'Back', tasks_path %>